@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Inter', sans-serif !important;
    background-color: '#F6F6F6';
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.005em;
    text-align: left;
  }
}

/* Table.css */

.custom-checkbox {
  /* Estilos para ocultar o checkbox padrão */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: rem;
  height: 1rem;
  border: 2% solid #333; /* Cor da borda */
  border-radius: 100%; /* Borda arredondada */
  background-color: white; /* Cor de fundo */
  cursor: pointer;
  outline: none;
  position: relative;

  /* Adicionar um espaço para o símbolo de checked */
  padding-left: 20%;

  /* Estilos para o estado marcado */
  &:checked {
    background-color: green; /* Cor de fundo quando marcado */
    border: 2px solid green; /* Cor da borda quando marcado */
  }

  /* Estilos para o estado do hover */
  &:hover {
    background-color: lightgray; /* Cor de fundo ao passar o mouse */
  }

  /* Estilos para o sinal de checked */
  &:checked::before {
    content: '✓'; /* Símbolo de checked */
    position: absolute;
    font-size: 80%;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    color: white; /* Cor do símbolo de checked */
  }
}
